<nav class="navbar navbar-expand-lg" style="background-color:#f0f0f0">
  <img class="navbar-brand" src="img/sip-small-logo.png" alt="SIP_logo">

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
    <!-- Represents navbar collapsed menu on smaller screens -->
    <span class="sr-only">Toggle navigation</span>
    <i class="fa fa-bars" aria-hidden="true"></i> Menu
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link text-dark " href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="catina.html">Cat Catina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white active" href="plafonpvc.html">Plafon PVC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="maxpro.html">Cat Maxpro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="ppg.html">Cat PPG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="about.html">Profile SIP</a>
      </li>
    </ul>
  </div>
</nav>
